.link {
  display: flex;
  align-items: center;
  padding: var(--space-sm) var(--space-md);
  font-weight: 500;
    color: var(--main-color);
}

.link .icon {
  margin-right: var(--space-sm);
}

.link.activeLink {
  background-color: var(--link-bg-color);
}